<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" href="styles.css" class="style">
</head>
<nav>
<div class="nav">Pokedex</div>
<div class="nav"> <a href="/pokemon/new" class="nav">Add New Pokemon</a> <br></div>
</nav>
<body>
    <% for (let i=0; i < allPokemon.length; i++) { %>  
        <!-- for loop helps up load data for each pokemon -->
    <div>
        Name: <%= allPokemon[i].name %> <br>
        <!-- adds name based on array  -->
        <img src="<%=allPokemon[i].img%>" class="thumb"> <br>
        <!-- adds pokemon img -->
       <button><a href="pokemon/<%=i%>">Learn More</a> <br></button>
        <form action="/pokemon/<%=i%>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE">
            </form>
            <button><a href="/pokemon/<%=i%>/edit">Edit</a></button>
        <% } %>
        </div>

</body>
</html>