<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>
</head>
<body>
        <!-- for loop helps up load data for each pokemon -->
    <form>
        <h1>Name: <%= pokeInfo.name %> </h1><br>
        <img src="<%=pokeInfo.img%>" alt="<%= pokeInfo.name %>" class="src"> <br>
        
        <h3>Type:</h3>
                <ul>
                    <% for (let i=0; i < pokeInfo.type.length; i++) { %>
                        <li> <%= pokeInfo.type[i] %> </li>
                    <% } %>
                </ul>  
            <h3>Stats:</h3>
            <ul>
                <p>HP: <%= pokeInfo.stats.hp %></p>
                <p>Attack: <%=pokeInfo.stats.attack %> </p>
                <p>Defense: <%=pokeInfo.stats.defense %></p>
            </ul>
          
           

    
        <a href="/pokemon">Return to PokeDex</a> <br>
    </form>
</body>
</html>